{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'usuarios/style.css' %}">
</head>
<body>

{% include 'usuarios/navbar.html' %}

<div class="form-container">

    <div class="form-box">

        <h2>👤 Criar Conta</h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Usuário" required>

            <input type="password" name="password" placeholder="Senha" required>

            <input type="text" name="idioma_nativo" placeholder="Idioma nativo">

            <input type="text" name="idioma_aprendizado" placeholder="Idioma que quer aprender">

            <input type="text" name="interesses" placeholder="Interesses (ex: música, filmes)">


            <button type="submit">Cadastrar</button>
        </form>

        <p class="login-link">
            Já tem conta? <a href="/login/">Fazer login</a>
        </p>

    </div>

</div>

</body>
</html>